Repository Magnet-js/schule, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Magnet-js, @Lexn06, @Sono304

.github/CODEOWNERS:

# Shared 
/documentation/ @Magnet-js @Lexn06 @Sono304
/.github/ @Magnet-js @Lexn06 @Sono304
/frontend/ @Lexn06 @Sono304

# Magnet-js
/backend/ @Magnet-js
/.env.example @Magnet-js
/docker-compose.yml @Magnet-js

# Lexn06
/.gitignore @Lexn06

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/super-linter.yml
Owners: @Magnet-js, @Lexn06, @Sono304

Create super-linter.yml workflow
  .github/workflows/super-linter.yml
Owners: @Magnet-js, @Lexn06, @Sono304

docs: Add forms
  docs/formulare/Meldung über eine Änderung der Schülerdaten.pdf
  docs/formulare/Stammdatenblatt.pdf
Owners: none

feat: setup api server
  backend/go.mod
  backend/go.sum
  backend/internal/api/routes.go
  backend/internal/api/server.go
  backend/main.go
Owners: @Magnet-js

chore: create api docs
  docs/backend/apiDocs.md
Owners: none

fix: local deployment to connect to backend
  backend/config/config.go
  docker-compose.yml
Owners: @Magnet-js

chore: added vitest and updated package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @Lexn06, @Sono304

fix: inter
  docs/backend/apiDocs.md
Owners: none

feat: Add shadcn Button
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ui/button.tsx
Owners: @Lexn06, @Sono304

chore: remove comments
  backend/go.mod
  backend/go.sum
  backend/internal/api/routes.go
Owners: @Magnet-js

ci: delete linter
  .github/workflows/super-linter.yml
Owners: @Magnet-js, @Lexn06, @Sono304

ci: delete linter
  .github/workflows/super-linter.yml
Owners: @Magnet-js, @Lexn06, @Sono304

chore: remove coment
  backend/internal/api/routes.go
Owners: @Magnet-js

chore: add empty line thanks @Sono304
  backend/internal/api/server.go
Owners: @Magnet-js

docs: Add forms
  docs/formulare/Meldung über eine Änderung der Schülerdaten.pdf
  docs/formulare/Stammdatenblatt.pdf
Owners: none

docs: answer questions
  Stakeholder.md
Owners: none

chore: add quiestions
  Stakeholder.md
Owners: none

chore: add question
  Stakeholder.md
Owners: none

docs: create steakholders files
  Stakeholder.md
Owners: none

chore: installed axios and wrote basic api client
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/apiClient.ts
Owners: @Lexn06, @Sono304

refactor: moved baseURL into a static configuration file
  frontend/src/api/apiClient.ts
  frontend/src/static.tsx
Owners: @Lexn06, @Sono304

refactor: changed filetype of the static config file to .ts
  frontend/src/static.ts
Owners: @Lexn06, @Sono304

chore: implement makefile
  Makefile
Owners: none

feat: implement sample logic
  backend/config/seed/seed.go
  backend/go.mod
  backend/go.sum
  backend/internal/db/migrate.go
  backend/internal/db/models/form.go
  backend/internal/db/models/submission.go
Owners: @Magnet-js

docs: add docs for dynamic forms
  docs/backend/forms.md
Owners: none

feat: implement create form logic
  backend/internal/api/forms/createForm.go
  backend/internal/api/forms/handler.go
  backend/internal/api/forms/routes.go
  backend/internal/api/model/form.go
  backend/internal/api/routes.go
  backend/internal/db/repository/forms_repository.go
  backend/internal/logic/service/forms_service.go
  backend/internal/logic/utils/forms.go
Owners: @Magnet-js

chore: implement makefile
  Makefile
Owners: none

feat: improve logic
  backend/config/seed/seed.go
  backend/internal/api/model/form.go
  backend/internal/db/models/form.go
  backend/internal/logic/service/forms_service.go
  backend/internal/logic/utils/forms.go
Owners: @Magnet-js

docs: improve api Docs
  docs/backend/apiDocs.md
Owners: none
